@media(max-width: 1120px){
    .logo{
        font-size: 1.5rem;
    }
}

@media(max-width: 932px){

    .logo{
        font-size: 2rem;
    }

    .img-capa img{
        width: 300px;
    }

    .info-right h2{
        font-size: 40px;
        padding-top: 80px;
    }

    .cabecalho {
        display: flex;
        align-items: center;
    }

    .navbar {
        display: flex;
        width: 100vw;
        justify-content: space-around;
    }

    nav {
        position: absolute;
        background-color: #2c2c2c;
        width: 100vw;
        top: 60px;
        display: none;
    }
    
    .menu{
        display: block;
    }

    nav ul {
        flex-direction: column;
        align-items: start;
        width: 100vw;
    }

    nav ul li {
        display: flex;
        align-items: end;
        gap: 2rem;
    }
    
    .aparecer-menu {
        display: block;
        width: 100vw;
    }

    .imagens-categorias img{
        width: 150px;
        height: 150px;
    }

    .info-footer {
        display: flex;
        gap: 50px;
    }

}

@media(max-width: 688px){

    .logo{
        font-size: 1.5rem;
    }

    .section-home
    .apresentacao
    .info-right h2 {
        font-size: 2rem;
        padding-top: 3rem;
    }

    .section-home
    .apresentacao .img-capa img{
        width: 60vw;
        
    }

    .info-right h2{
        padding-top: 2rem;
    }

    .apresentacao {
        flex-direction: column;
        text-align: center;
    }

    .apresentacao img{
        margin: 2rem 0 0;
    }

    .imagens-produtos-selecionados {
        grid-template-columns: repeat(2,1fr);
    }

    .pagina-testemunho h3, .pagina-testemunho p:first-child {
        flex-wrap: wrap;
        
    }

    .box-avaliacoes {
        grid-template-columns: repeat(2,1fr);
    }

    .info-footer {
        flex-wrap: wrap;
    }

}

@media(max-width: 425px) {

    .logo{
        font-size: 1rem;
    }

    .section-home{
        height: 100vh;
    }

    .section-home
    .apresentacao
    .info-right h2 {
        font-size: 1.5rem;
        padding-top: 3rem;
    }

    .section-home
    .apresentacao .img-capa img{
        width: 60vw;
        
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: end;
    }
}